<h1>All Table Assignments</h1>

<div class="row">
  <% @table_assignments.each do |assignment| %>
    <div class="col-md-2 mb-4"> <!-- Changed from col-md-4 to col-md-2 -->
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Table <%= assignment.table.table_number %></h5>
          <p class="card-text">
            <strong>Max Persons:</strong> <%= assignment.max_persons %><br>
            <strong>Available:</strong>
            <br><strong>Reserved:</strong>
            <% if assignment.is_reserved %>
              <span class="badge bg-success">Yes</span>
            <% else %>
              <span class="badge bg-danger">No</span>
            <% end %>
          </p>
          <%= link_to "Edit", edit_table_assignment_path(assignment), class: "btn btn-primary btn-sm mt-2", data: { turbo: false } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "Back to Time Slots", admin_dashboard_path, class: "btn btn-secondary mt-3" %>

